* {
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: rgba(143, 82, 201, 0.459);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
#nav-title {
  font-style: italic;
  font-weight: 300;
  font-size: medium;
}
#nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 5rem;
}

#nav-links a {
    display: flex;
    margin-right: 1.5rem;
    cursor: pointer;
}

#main-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: auto;
  margin-top: 2rem;
  padding: 10px;
  text-align: center;
}

.app-title {
  margin: 2rem 0 0 0;
}

#error-check-for-angles{
  background-color: yellow;
  display: none;
  padding: 0.5rem;
}

label {
  margin-top: 2rem;
  margin-bottom: 0.3rem;
  text-align: left;
  font-family: monospace;
}
input {
  border: 2px solid rgb(134, 55, 207);
  border-radius: 5px;
  padding: 5px;
}

/* For Quiz page */

.question-container{
  display: flex;

}



#check-btn {
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  width: 40%;
  padding: 5px 0px;
  background-color: rgba(143, 82, 201, 0.521);
  border: 1px solid;
  border-radius: 5px;
}
#result-display {
    display: none;
    padding-top: 1rem;
    font-style: italic;
    margin: auto;
  }